@import url("./../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("./../node_modules/lion-player/dist/lion-skin.min.css");

@import "tailwindcss";

@theme {
  --color-primary-dark: #1a6985;
  --color-primary-main: #2596be;
  --color-primary-light: #51abcb;

  --font-montserrat: "Montserrat", sans-serif;

  --text-shadow-sm: 0 1px 2px var(--tw-shadow-color);
  --text-shadow: 0 2px 4px var(--tw-shadow-color);
  --text-shadow-lg: 0 8px 16px var(--tw-shadow-color);
}

@utility text-shadow-sm {
  text-shadow: var(--text-shadow-sm);
}

@utility text-shadow {
  text-shadow: var(--text-shadow);
}

@utility text-shadow-lg {
  text-shadow: var(--text-shadow-lg);
}

@layer components {
  body {
    @apply font-[var(--font-montserrat)];
  }

  button {
    @apply cursor-pointer;
  }

  .header-action {
    @apply rounded-sm px-4 py-1 transition-colors;
  }

  .header-action--filled {
    @apply bg-primary-dark/50 hover:bg-primary-dark/70;
  }

  .header-action--plain {
    @apply hover:bg-primary-dark/30;
  }

  .header-nav-link {
    @apply text-zinc-50 transition-colors hover:text-primary-main;
  }

  .header-nav-link-dark {
    @apply text-zinc-800 hover:text-primary-main;
  }

  .header-topbar {
    @apply flex flex-col justify-between bg-primary-dark px-2 py-1 text-xs text-white md:flex-row md:items-center;
  }

  .header-container {
    @apply mx-auto flex w-350 max-w-[90%] items-center justify-between py-4;
  }

  .header-mobile-link {
    @apply block p-4;
  }

  .form-container {
    @apply space-y-4;
  }

  /* Labels */
  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }

  /* Text inputs */
  .form-input {
    @apply w-full mt-1 px-4 py-2 border border-gray-400 rounded-md shadow
  focus:outline-none focus:ring-2 focus:ring-primary-main
  focus:border-primary-main transition;
  }

  /* Error text */
  .form-error {
    @apply text-red-500 text-xs mt-1;
  }

  /* Radio group wrapper */
  .form-radio-group {
    @apply flex flex-col gap-2 mt-1;
  }

  /* Radio label */
  .form-radio-label {
    @apply flex items-center gap-2 text-sm text-gray-700 cursor-pointer;
  }

  /* Checkbox label */
  .form-checkbox-label {
    @apply flex items-center gap-2 text-sm text-gray-700 cursor-pointer;
  }

  /* Submit button */
  .form-button {
    @apply w-full mt-4 bg-primary-main text-white py-2.5 rounded-md
  font-medium cursor-pointer hover:bg-primary-dark transition
  disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn {
    @apply inline-flex cursor-pointer items-center justify-center rounded-md transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-primary-main focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .btn-primary-outline {
    @apply border-2 border-primary-main p-2 text-lg font-medium text-zinc-100 hover:bg-[#2187ab] active:bg-[#1d7696];
  }

  .section-container {
    @apply mx-auto w-350 max-w-[90%];
  }

  .title {
    @apply my-4 text-xl font-medium;
  }

  .embla {
    @apply relative;
  }

  .embla__viewport {
    @apply overflow-hidden;
  }

  .embla__container {
    @apply flex touch-pan-y touch-pinch-zoom;
  }

  .embla__slide {
    @apply min-w-0;
    flex: 0 0 100%;
  }

  .embla__dots {
    @apply absolute bottom-8 left-1/2 z-20 flex -translate-x-1/2 gap-3;
  }

  .embla__dot {
    @apply h-3 w-3 rounded-full transition-all duration-300 bg-white/50 hover:bg-white;
  }
  .embla__dot.active {
    @apply w-8 bg-primary-main;
  }

  .embla__control {
    @apply w-full;
  }

  .embla__control-left,
  .embla__control-right {
    @apply absolute top-[50%] translate-y-[-50%] cursor-pointer;
  }

  .embla__control-left {
    @apply -left-5;
  }

  .embla__control-right {
    @apply -right-5;
  }

  .embla__control i {
    @apply text-2xl;
  }
}
